.parent-E17CUIEjke {
    width: fit-content;
    height: fit-content;
    padding: 25px 50px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
}

.parent-4JdRLIEoke {
    width: fit-content;
    height: fit-content;
}

.child-dyKyWLNiJl {
    width: fit-content;
    height: fit-content;
}

.child-4kGsZ_Eoye {
    margin-bottom: 6px;
}

.child-VyRJw8Vjyg {
    min-height: 13px;
    margin-top: 3px;
    width: 300px;
}

.child-VJLyS5Bj1e {
    margin-bottom: 3px;
}

.parent-E1QvAI4o1g {
    margin-top: 15px;
}