:root {
  --warning-color: #FFC073;
  --error-color: #FF5E5E;
  --success-color: #76FF5E;

  --first-color: #b15eff;
  --second-color: #ffa33c;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

input:focus-visible {
  outline: none;
}

body {
  font-size: 15px;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

:root {
  --icon-size-smallest: 12px;
  --icon-size-small: 16px;
  --icon-size-medium: 24px;
  --icon-size-big: 32px;
  --icon-size-bigest: 48px;
}

.icon {
  width: var(--icon-size-medium);
  height: var(--icon-size-medium);
}

.icon.smallest {
  width: var(--icon-size-smallest);
  height: var(--icon-size-smallest);
}

.icon.small {
  width: var(--icon-size-small);
  height: var(--icon-size-small);
}

.icon.medium {
  width: var(--icon-size-medium);
  height: var(--icon-size-medium);
}

.icon.big {
  width: var(--icon-size-big);
  height: var(--icon-size-big);
}

.icon.bigest {
  width: var(--icon-size-bigest);
  height: var(--icon-size-bigest);
}