@keyframes rotateAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-360deg);
    }
}

button {
    cursor: pointer;
    height: 45px;
    border: none;
}

#article-title {
    width: 100%;
    height: 45px;
    line-height: 20px;
    font-size: 20px;
    font-weight: bold;
    padding: 24px 5px 0 5px;
    border: none;
    border-bottom: var(--second-color) solid 1px;
    flex-grow: 1;
}

.parent-NJU0QvKikx {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.parent-4ypeVvYsyl {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.parent-EJWZ4DKoJe {
    width: 40px;
    border-radius: 5px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent-VJIb4Ptokl {
    width: fit-content;
    height: fit-content;
    display: flex;
    margin-left: 10px;
}

.parent-NyNzVwYjkx {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 0 0 5px;
    width: 100px;
    border-right: #80808040 solid 1px;
}

.parent-4J6jDDFjyl {
    font-size: larger;
    margin-left: 5px;
}

.parent-VJ2zVvYsyg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    background-color: var(--second-color);
    border-radius: 5px;
    margin: 0 10px;
}

.parent-4yuzEwtsJx {
    border-radius: 0 5px 5px 0;
}

.parent-E1mV4vKj1g {
    padding: 5px;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.parent-E1mV4vKj1g.active {
    transform: rotate(180deg);
}

.parent-4ygQ4PKikg {
    color: white;
    font-weight: bold;
    font-size: larger;
    margin-left: 5px;
}

.parent-Ey5UgdKiyx {
    position: relative;
    width: 45px;
    height: 45px;
}

.parent-V1RmedFs1x {
    position: absolute;
    z-index: 999;
    width: 320px;
    height: calc(100vh - 120px);
    padding: 10px;
    top: 50px;
    right: -148px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
    overflow-y: auto;
    border-radius: 5px;
}

.parent-Nk360OYjke {
    margin-bottom: 10px;
    font-weight: 500;
    padding-left: 6px;
    color: grey;
}

.parent-Ny-WMwFjJx:hover {
    animation: rotateAnimation 1s linear;
}

.parent-NyxhQYFsyg {
    width: 36px;
    height: 45px;
    position: relative;
}

.parent-VkiMVtYsJe {
    position: absolute;
    width: 245px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    right: -110px;
    top: 50px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
    padding: 5px 0;
    z-index: 999;
}

.child-E1C_VtYskl {
    display: flex;
    align-items: center;
    height: 40px;
    cursor: pointer;
    padding: 5px 0 5px 25px;
    background-color: transparent;
}

.child-E1C_VtYskl:hover {
    background-color: #f0f0f0;
}

.child-EkIWUFYsJg {
    margin-left: 10px;
    font-size: 17px;
    line-height: 17px;
}

.parent-4k6nVctskl {
    min-height: calc(100vh -110px);
}

.parent-E1rPWqYsye.active {
    animation: rotateAnimation 2s linear infinite;
}