.parent-E17CUIEjke {
    width: fit-content;
    height: fit-content;
    padding: 25px 50px;
    outline: #dddddd solid 1px;
}

.parent-4JdRLIEoke {
    width: fit-content;
    height: fit-content;
}

.child-dyKyWLNiJl {
    width: fit-content;
    height: fit-content;
}

.child-VyRJw8Vjyg {
    min-height: 13px;
    margin-top: 3px;
}

.parent-E1QvAI4o1g {
    margin-top: 15px;
}